.hero {

  background-image: url("../img/hero.jpg");
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;

  &__content {
    align-items: center;
    justify-content: center;
    padding-top: 218px;
    padding-bottom: 228px;
    max-width: 600px;

    @include big-desktop {
      padding-top: 188px;
      padding-bottom: 200px;
    }

    @include for-desktop {
      padding-top: 70px;
      padding-bottom: 100px;
    }

    @include average-tablet  {
      padding-top: 60px;
      padding-bottom: 80px;
    }

    @include small-tablet  {
      padding-top: 50px;
      padding-bottom: 70px;
    }
    @include mobile  {
      padding-top: 30px;
      padding-bottom:30px;
    }
    @include small-mobile  {
      padding-top: 25px;
      padding-bottom: 30px;
    }


    // @include tablet{
    //   padding-top: 0px;
    // }



  }

  &__span {
    margin: 0;
    margin-bottom: 19px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--color-gold);

    @include small-tablet  {
      font-size: 12px;
    }

  }

  &__title {
    margin: 0;
    margin-bottom: 9px;
    width: 416px;
    font-weight: 400;
    font-size: 48px;

    color: var(--color-light);

    @include average-tablet  {
      font-size: 38px;
    }

    @include small-tablet  {
      max-width: 380px;
      font-size: 24px;
    }
    @include small-tablet  {
      font-size: 18px;
      line-height: 15px;
    }
  }

  &__descr {
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    color: #CACCD1;

    @include small-tablet  {
      font-size: 12px;
      line-height: 15px;
    }
  }

}
