<footer class="footer">
  <div class="container">
    <div class="footer__logo">
      <a href="#" class="logo">
        <img src="img/logo-footer.svg" alt="logotip" width="128" height="39">
      </a>
    </div>
    <div class="footer__content">
      <nav class="footer-nav">
        <h3 class="footer-nav__title">Pages</h3>
        <ul class="list-reset footer-nav__list">
          <li class="footer-nav__item"><a href="#" class="footer-nav__link">Home</a></li>
          <li class="footer-nav__item"><a href="#" class="footer-nav__link">Shop</a></li>
          <li class="footer-nav__item"><a href="#" class="footer-nav__link">Categories</a></li>
          <li class="footer-nav__item"><a href="#" class="footer-nav__link">Buyer's guides</a></li>
          <li class="footer-nav__item"><a href="#" class="footer-nav__link">404</a></li>
          <li class="footer-nav__item"><a href="#" class="footer-nav__link">Password</a></li>
        </ul>
      </nav>
      <nav class="footer-nav">
        <h3 class="footer-nav__title">Gear categories</h3>
        <ul class="list-reset footer-nav__list">
          <li class="footer-nav__item"><a href="#" class="footer-nav__link">Home</a></li>
          <li class="footer-nav__item"><a href="#" class="footer-nav__link">Shop</a></li>
          <li class="footer-nav__item"><a href="#" class="footer-nav__link">Categories</a></li>
          <li class="footer-nav__item"><a href="#" class="footer-nav__link">Buyer's guides</a></li>
          <li class="footer-nav__item"><a href="#" class="footer-nav__link">404</a></li>
          <li class="footer-nav__item"><a href="#" class="footer-nav__link">Password</a></li>
        </ul>
      </nav>
      <nav class="footer-nav">
        <h3 class="footer-nav__title">Company</h3>
        <ul class="list-reset footer-nav__list">
          <li class="footer-nav__item"><a href="#" class="footer-nav__link">Home</a></li>
          <li class="footer-nav__item"><a href="#" class="footer-nav__link">Shop</a></li>
          <li class="footer-nav__item"><a href="#" class="footer-nav__link">Categories</a></li>
          <li class="footer-nav__item"><a href="#" class="footer-nav__link">Buyer's guides</a></li>
          <li class="footer-nav__item"><a href="#" class="footer-nav__link">404</a></li>
          <li class="footer-nav__item"><a href="#" class="footer-nav__link">Password</a></li>
        </ul>
      </nav>
      <nav class="footer-nav">
        <h3 class="footer-nav__title">Newsletter</h3>
        <ul class="list-reset footer-nav__list">
          <p class="footer-nav__descr">Subscribe to our (infrequent) newsletter where we share news about upcoming listings and projects.
          </p>
          <div class="footer-form">
            <label class="footer-form__items">
              <input type="email" name="email" placeholder="Your email address" class="footer-form__input">
            </label>
            <a href="#" class="footer-form__btn ">Subscribe</a>
          </div>
        </ul>
      </nav>
    </div>
    <small class="footer__copyright">
      © Outdoor Exploration, LLC. All rights reserved. Powered by</span>
    </small>
  </div>
</footer>
