<header class="header">
  <div class="container header__container">
    <a href="#" class="logo header__logo">
      <img src="img/logo.svg" alt="logotip" width="128" height="39">
    </a>
    <nav class="nav header__nav" title="">
      <ul class="list-reset nav__list">
        <li class="nav__item"><a href="#" class="nav__link">Shop</a></li>
        <li class="nav__item"><a href="#" class="nav__link">About us</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Our team</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Buyer's guides</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Categories</a></li>
      </ul>

    </nav>
      <div class="header-button">
        <button class="btn-reset btn-header btn-header__left">Buy template</button>
        <button class="btn-reset btn-header btn-header__right">Cart</button>
      </div>
  </div>
</header>
