<section class="offering">
  <div class="container">
    <div class="offering__content">
      <span class="span">Buyer's guides</span>
      <h3 class="title">Navigating our offering.</h3>
      <p class="descr offering__descr">
        Morbi neque ex, condimentum dapibus congue et, vulputate ut ligula. Vestibulum sit amet urna turpis. Mauris euismod elit et nisi ultrices, ut faucibus orci tincidunt.
      </p>
    </div>
    <div class="offering__list">
      <div class="offering-item">
      <div class="offering-item__image">
        <img src="img/offering.png" class="offering-item__image" alt="">
      </div>
      <div class="offering-item__content">
        <div class="offering-item__title">3 climbing accessories for the climber that has everything</div>
        <div class="offering-item__card">
          <img src="img/offering-card-1.jpg" class="offering-item__img" alt="">
          <div class="offering-item__descr">
            <div class="offering-item__info">
              <div class="offering-item__name">Alex Jenna</div>
              <div class="offering-item__spec">QA</div>
            </div>
            <div class="offering-item__data">October 18, 2021</div>
          </div>
        </div>
      </div>
    </div>
    <div class="offering-item">
      <img src="img/offering-2.png" class="offering-item__image" alt="">
        <div class="offering-item__content">
          <div class="offering-item__title">Biking accessories for the beaten path</div>
          <div class="offering-item__card">
            <img src="img/offering-card-2.jpg" class="offering-item__img" alt="">
            <div class="offering-item__descr">
              <div class="offering-item__info">
                <div class="offering-item__name">Woodie Brandon</div>
                <div class="offering-item__spec">Product Designer</div>
              </div>
              <div class="offering-item__data">October 18, 2021</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-reset btn btn__offering">Show all buyer's guides</div>
  </div>
</section>
