<section class="product">
  <div class="container product__container">
    <div class="product__content">
      <span class="span our__title">Our promise</span>
      <h2 class="title">Setting the bar for our products.</h2>
      <p class="descr">
        Morbi neque ex, condimentum dapibus congue et, vulputate ut ligula. Vestibulum sit amet urna turpis. Mauris euismod elit et nisi ultrices, ut faucibus orci tincidunt.
      </p>
    </div>
      <ul class="list-reset product__list">
        <li class="product__item">
          <div class="product__image">
            <img src="../img/products/product-1.png" class="product__image" alt="Продукт">
          </div>
          <h3 class="product__title">Sustainable sourcing</h3>
          <p class="product__descr">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
          </p>
        </li>
        <li class="product__item">
          <div class="product__image">
            <img src="../img/products/product-2.png" class="product__image" alt="Продукт">
          </div>
          <h3 class="product__title">Lifetime warranty</h3>
          <p class="product__descr">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
          </p>
        </li>
        <li class="product__item">
          <div class="product__image">
            <img src="../img/products/product-3.png" class="product__image" alt="Продукт">
          </div>
          <h3 class="product__title">All-terrain tested</h3>
          <p class="product__descr">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
          </p>
        </li>
        <li class="product__item">
          <div class="product__image">
            <img src="../img/products/product-4.png" class="product__image" alt="Продукт">
          </div>
          <h3 class="product__title">Premium materials</h3>
          <p class="product__descr">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
          </p>
        </li>
        <li class="product__item">
          <div class="product__image">
            <img src="../img/products/product-5.png" class="product__image" alt="Продукт">
          </div>
          <h3 class="product__title">Designed by you</h3>
          <p class="product__descr">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
          </p>
        </li>
        <li class="product__item">
          <div class="product__image">
            <img src="../img/products/product-6.png" class="product__image" alt="Продукт">
          </div>
          <h3 class="product__title">Quality assured</h3>
          <p class="product__descr">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
          </p>
        </li>
      </ul>
  </div>
</section>
