<section class="reading">
  <div class="container reading__container">
    <div class="reading__image">
      <img src="img/reading.jpg" alt="Книги">
    </div>
    <div class="reading__content">
      <span class="span">Some light reading</span>
      <h2 class="title">Subscribe to our magazine today.</h2>
      <p class="descr reading__btn">
        We are an outdoor gear company focused on Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque aliquam odio et faucibus. Nulla rhoncus feugiat eros quis consectetur. Morbi neque ex, condimentum dapibus congue et.
      </p>
      <button class="btn-reset btn">Read more</button>
    </div>
  </div>
</section>
