<section class="sea">
  <div class="sea__content">
      <ul class="list-reset sea__list">
        <li class="sea__item--basket"><a href="#" class="sea__link">First Aid Kit Banger Bottle</a></li>
        <li class="sea__item--camera"><a href="#" class="sea__link">Brian Schultz</a></li>
        <li class="sea__item--person"><a href="#" class="sea__link">Leah Stoff</a></li>
        <li class="sea__item--cursor"><a href="#" class="sea__link">Catalina, California</a></li>
      </ul>
  </div>
</section>
